.element {
    width: 30px;
    min-width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
}


.container-wrap {
    overflow: hidden;
    width: 210px;
    min-width: 210px;
}

.container-ex {
    display: flex;
    width: 210px;
    min-width: 210px;
}